@model IEnumerable<aspnetcoremaster.core.Model.ProductModel>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@foreach(var p in Model)
{
    <p> @p.Name</p>
}
