@model IEnumerable<aspnetcoremaster.core.Model.CategoryModel>
@{
    ViewData["Title"] = "CategoryList";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Category List</h3>
            </div>
            <br />
            <div class="box-body">
                <table id="studentTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                           
                            <th>
                                Category Name
                            </th>
                            <th> Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    <a href="@Url.Action("DeleteNotes", "Teacher", new {noteId = item.Id})" onclick="return confirm('Are you sure you want to Remove this Note from your class  ?');" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

